.slide3 {
  width: 100%;
  margin: auto auto;
}

.fondoSlide3 {
  width: 100%;
  margin: 0%;
  position: absolute;
}

.contenedorLogo {
  width: 100%;
  display: block;
  position: absolute;
}

.logo {
  display: block;
  position: absolute;
  width: 30%;
  margin: auto;
}
