.slide3 {
  width: 100%;
  margin: auto;
  position: absolute;
  display: block;
}

.fondoSlide3 {
  width: 100%;
  margin: auto;
  position: absolute;
  display: block;
}

.logo {
  display: block;
  position: relative;
  width: 30%;
  margin: 45% auto;
}
