.slide3 {
  width: 100%;
  margin: 74% auto;
  display: block;
  position: absolute;
}

.fondoSlide3 {
  width: 100%;
  margin: auto;
  position: absolute;
  display: block;
}

.logo {
  display: block;
  width: 30%;
  margin: 45% 35%;
  position: absolute;
}
