<div class="fullPage">
  <div class="slide">
    <video id="video" src="/assets/slide2.mp4" loop autoplay preload></video>
      <div class="contenedor">
        <div class="centrado">
          <button (click)="irA()" class="boton">JOIN US</button>
        </div>
      </div>
      <div class="titulo2Contenedor">
       <p class="titulo2">THE FUTURE IS NOW</p> 
      </div>
      <div class="texto2Contenedor">
       <p class="texto2">TRAVEL TO THE VIRTUAL<br>WORLD OF CINEMATIC<br>SHOWS IN EPIC VENUES</p> 
      </div>
      <img src="/assets/02.gif">

      <img src="/assets/03.jpg">

      <img src="/assets/logo.png" class="logo">
  </div>
</div>
