#video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -10;
    visibility: visible;
}

.boton {
    display: inline-block;
    background-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 35px;
    padding: 10px;
    width: 100%;
    transition: all 2s;
    cursor: pointer;
    margin-top: 300px;
    position: relative;
  }
   
  .boton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
   
  .boton span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
   
  .boton:hover span {
    padding-right: 25px;
  }
   
  .boton:hover span:after {
    opacity: 1;
    right: 0;
  }

  .contenedor {
    position: relative;
    height: 10px;
    margin: auto auto;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -10;
    visibility: visible;
  }
  
  .centrado {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }