<!-- <title>MUSURE: the virtual world of cinematic shows in epic venues</title> -->

<div class="fullPage">
  <div class="slide1">
    <video id="video" src="/assets/slide2.mp4" loop autoplay preload></video>
      <div class="contenedor">
        <div class="centrado">
          <button (click)="irA()" class="boton">JOIN US</button>
        </div>
      </div>
  </div>

  <div class="slide2">
    <img src="/assets/02.gif" alt="">
  </div>

  <div class="slide3">
    <img src="/assets/03.jpg" alt="">
  </div>
</div>