.titulo2Contenedor {
    width: 100%;
  }

.titulo2 {
    font-family: 'poppinsExtraBold', Arial, sans-serif;
    text-align: center;
    font-size: 25px;
    color: white;
    display: block;
  }

  .texto2Contenedor {
    width: 100%;
  }

  .texto2 {
    font-family: 'poppinsBold', Arial, sans-serif;
    text-align: left;
    margin-left: 5%;
    font-size: 40px;
    color: white;
    display: block;
  }
