.slide2 {
  width: 100%;
  margin: auto;
  position: absolute;
  display: block;
}

img {
  width: 100%;
  margin: auto;
  display: block;
  position: absolute;
}

.titulo2Contenedor {
  width: 100%;
  margin-top: 3%;
  display: block;
  position: absolute;
}

.titulo2 {
  font-family: 'poppinsBold', Arial, sans-serif;
  text-align: center;
  font-size: 150%;
  color: white;
  display: block;
}

.texto2Contenedor {
  width: 100%;
  margin-top: 15%;
  display: block;
  position: absolute;
}

.texto2 {
  font-family: 'poppinsBold', Arial, sans-serif;
  text-align: left;
  margin-left: 10%;
  font-size: 180%;
  color: white;
  display: block;
}
